<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../parciales/head.html') %>
    <link rel="stylesheet" href="panel.css">

    <!-- ICONOS (Font Awesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- SOCKET.IO -->
    <script type="module" src="/socket.io/socket.io.js"></script>
    <script type="module">
        const socket = io();

        socket.on('nuevo-llamado', (data) => {
            const { usuario, llamado } = data

            const nuevoLlamado = document.createElement('div');
            nuevoLlamado.classList.add('llamado');
            nuevoLlamado.dataset.usuario_id = usuario.id
            nuevoLlamado.innerHTML = `
                <div class="llamado-cabecera">
                    <p class="llamado-titulo">${usuario.nombre} ${usuario.apellido}</p>
                    <p class="llamado-mensaje">${llamado.mensaje}</p>
                </div>
                <hr>
                <div class="llamado-cuerpo">
                    <p>Llamado - Hace 2 minutos</p>
                </div>
                `

                const llamadoRespuestas = document.createElement('div')
                llamadoRespuestas.classList.add('llamado-respuestas')

                const respuesta1 = document.createElement('p')
                respuesta1.classList.add('respuesta')
                respuesta1.innerText = 'Yendo'
                respuesta1.dataset.usuario_id = usuario.id

                const respuesta2 = document.createElement('p')
                respuesta2.classList.add('respuesta')
                respuesta2.innerText = 'No puedo'
                respuesta2.dataset.usuario_id = usuario.id

                const respuesta3 = document.createElement('p')
                respuesta3.classList.add('respuesta')
                respuesta3.innerText = 'Derivo otro preceptor'
                respuesta3.dataset.usuario_id = usuario.id

                const nombrePreceptor = document.querySelector('.perfil-nombre').innerText.split(' ')[0].trim()
                const apellidoPreceptor = document.querySelector('.perfil-nombre').innerText.split(' ')[1].trim()

                respuesta1.addEventListener('click', () => {
                    socket.emit('respuesta-llamado', { usuario_id: usuario.id, respuesta: "Yendo", nombre: nombrePreceptor, apellido: apellidoPreceptor })
                    mostrarBotonesFinales([respuesta1, respuesta2, respuesta3], usuario, socket)
                })

                respuesta2.addEventListener('click', () => {
                    socket.emit('respuesta-llamado', { usuario_id: usuario.id, respuesta: "No puedo", nombre: nombrePreceptor, apellido: apellidoPreceptor })
                    mostrarBotonesFinales([respuesta1, respuesta2, respuesta3], usuario, socket)
                })

                respuesta3.addEventListener('click', () => {
                    socket.emit('respuesta-llamado', { usuario_id: usuario.id, respuesta: "Derivo otro preceptor", nombre: nombrePreceptor, apellido: apellidoPreceptor })
                    mostrarBotonesFinales([respuesta1, respuesta2, respuesta3], usuario, socket)
                })

                llamadoRespuestas.appendChild(respuesta1)
                llamadoRespuestas.appendChild(respuesta2)
                llamadoRespuestas.appendChild(respuesta3)

                nuevoLlamado.appendChild(llamadoRespuestas)
                
            document.querySelector('.llamados').appendChild(nuevoLlamado)
        })

        /**
         * @param {Array} respuestas
         * @param {Object} usuario
         * @returns {void}
         */
        function mostrarBotonesFinales(respuestas, usuario, socket) {
            for(const respuesta of respuestas) {
                respuesta.remove()
            }

            const terminado = document.createElement('p')
            terminado.classList.add('respuesta')
            terminado.innerText = 'Terminado'
            terminado.dataset.usuario_id = usuario.id

            const nombrePreceptor = document.querySelector('.perfil-nombre').innerText.split(' ')[0].trim()
            const apellidoPreceptor = document.querySelector('.perfil-nombre').innerText.split(' ')[1].trim()

            terminado.addEventListener('click', () => {
                socket.emit('terminar-llamado', { usuario_id: usuario.id, respuesta: "Terminado", nombre: nombrePreceptor, apellido: apellidoPreceptor })
            })

            const llamadoRespuestas = document.querySelector('.llamado[data-usuario_id="' + usuario.id + '"] .llamado-respuestas')
            llamadoRespuestas.appendChild(terminado)
        }
    </script>
</head>
<body>
    <div class="panel-contenedor">
        <div class="columna columna-izquierda">
            <div class="titulo">
                <h1>Auka</h1>
            </div>
            <div class="historial">
                <p class="historial-titulo">Historial de llamados</p>

                <div class="historial-contenedor">
                    <div class="historial-item">
                        <div>
                            <div class="historial-item-cabecera">
                                <p class="historial-item-titulo">Nombre del emisor</p>
                                <p class="historial-item-hora">10:45 AM</p>
                            </div> 
                            <div class="historial-item-mensaje">
                                <p class="historial-item-texto">
                                    Falta un preceptor en el aula 13 fds fdsdf  
                                </p>
                            </div>
                        </div>
                        <div class="historial-item-pie">
                            <p class="historial-item-estado">
                                <span class="historial-item-estado-texto">Finalizado</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="llamados">
            <!-- <div class="no-hay-llamados">
                <h1>No hay llamados pendientes</h1>
            </div> -->

            <div class="llamado">
                <div class="llamado-cabecera">
                    <p class="llamado-titulo">Nombre del emisor</p>
                    <p class="llamado-mensaje">Falta un preceptor en el aula 13 fds fdsdf</p>
                </div>
                <hr>
                <div class="llamado-cuerpo">
                    <p>Llamado - Hace 2 minutos</p>
                </div>
                <div class="llamado-respuestas">
                    <a class="respuesta" href="#">Yendo</a>
                    <a class="respuesta" href="#">No puedo</a>
                    <a class="respuesta" href="#">Derivo preceptor</a>
                </div>
            </div>
        </div>
        <div class="columna columna-derecha">
            <div class="preceptores">
                <p class="preceptores-titulo">Preceptores activos</p>

                <div class="preceptores-contenedor">
                    <div class="preceptores-item">
                        <img src="img/user.png" alt="">
                        <p>Nombre del preceptor</p>
                    </div>
                    <div class="preceptores-item">
                        <img src="img/user.png" alt="">
                        <p>Nombre del preceptor</p>
                    </div>
                    <div class="preceptores-item">
                        <img src="img/user.png" alt="">
                        <p>Nombre del preceptor</p>
                    </div>
                </div>
            </div>
            <div class="perfil">
                <hr>
                <div class="perfil-info">
                    <p class="perfil-siglas"><%- usuario.nombre[0] %><%- usuario.apellido[0] %></p>
                    <div class="perfil-usuario">
                        <p class="perfil-nombre"><%- usuario.nombre %> <%- usuario.apellido %></p>
                        <p class="perfil-tipo-usuario"><%- usuario.tipo_usuario %></p>
                    </div>
                </div>
                <a class="perfil-cerrar-sesion" href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Cerrar sesión</a>
            </div>
        </div>
    </div>
</body>
</html>