<!DOCTYPE html>
<html lang="es" data-id_usuario="<%- usuario.id_usuario %>" data-nombre="<%- usuario.nombre %>" data-apellido="<%- usuario.apellido %>" data-tipo_usuario="<%- usuario.tipo_usuario %>">
<head>
    <%- include('../parciales/head.html') %>
    <link rel="stylesheet" href="panel.css">
    <link rel="stylesheet" href="alertas.css">

    <!-- ICONOS (Font Awesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- ANIMACIONES (Animate.css) -->
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- SOCKET.IO -->
    <script type="module" src="/socket.io/socket.io.js"></script>
    <script type="module" src="./js/panel/profesor.js"></script>
</head>
<body>
    <audio id="notificacion" src="sonidos/noti.wav" preload="auto"></audio>
    
    <div class="panel-contenedor">
        <div class="navbar">
            <h1>Auka</h1>
            <div>
                <p>Parrafo 1</p>
                <p>Parrafo 2</p>
            </div>
        </div>
            <div class="formulario-llamado">
                <form action="" method="GET" id="formulario" data-mensaje="<%= typeof llamado !== 'undefined' && llamado.data.finalizado == 0 ? llamado.data.mensaje : '' %>" data-id_llamado="<%= typeof llamado !== 'undefined' ? llamado.data.id : '' %>">
                    <div class="formulario-cabecera">
                        <h2>Realizar llamado</h2>
                    </div>
                    <!-- <label for="">Seleccionar preceptor</label>
                    <select name="preceptor" id="">
                        <option value="0">Enviar a todos</option>
                        <option value="1">Alejandro</option>
                        <option value="2">Noemi</option>
                    </select> -->
                    <div class="formulario-columna">
                        <label for="mensaje">Mensaje</label>
                        <textarea name="mensaje" id="mensaje" placeholder="Necesito un preceptor en L1..." name="mensaje"></textarea>
                        <p class="limite-caracteres">
                            <span id="caracteres-restantes">0</span>
                            <span>/</span>
                            <span id="caracteres-maximos">300</span>
                        </p>
                    </div>
                    <div class="formulario-curso">
                        <label for="curso">Curso</label>
                        <select name="curso" id="curso">
                            <% llamado.cursos.forEach(curso => { %>
                                <option value="<%= curso.id_curso %>"><%= curso.curso %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="formulario-columna">
                        <label for="nivel">Nivel de importancia</label>
                        <div class="botones-niveles">
                            <button <%= typeof llamado !== 'undefined' && llamado.data.finalizado == 0 ? 'disabled' : '' %> type="button" class="boton-select nivel-leve selected" data-nivel="1">Leve</button>
                            <button <%= typeof llamado !== 'undefined' && llamado.data.finalizado == 0 ? 'disabled' : '' %> type="button" class="boton-select nivel-moderado" data-nivel="2">Moderado</button>
                            <button <%= typeof llamado !== 'undefined' && llamado.data.finalizado == 0 ? 'disabled' : '' %> type="button" class="boton-select nivel-urgente" data-nivel="3">Urgente</button>
                            <input type="hidden" name="nivel" id="nivel-input" value="1">
                        </div>
                    </div>

                    <% if(typeof llamado !== 'undefined' && llamado.data.finalizado == 0) { %>
                        <button type="button" id="boton-llamado" disabled>Llamar preceptor</button>
                    <% } else { %>
                        <button type="button" id="boton-llamado">Llamar preceptor</button>
                    <% } %>

		        </form>
		        <div class="estado-llamado <%= (typeof llamado.data.id === 'undefined' || llamado.data.finalizado == 1) ? 'esconder' : '' %>">  
                    <div class="estado-llamado-titulo">
                        
                        <% if(typeof llamado.respuesta.id === 'undefined' || llamado.data.finalizado == 1) { %>
                            <h3>Esperando respuesta...</h3>
                        <% } else { %>
                            <h3>Respuesta del preceptor</h3>
                        <% } %>

                        <span class="texto-muted">Estado de tu llamado</span>
                    </div>
                    <div class="estado-llamado-preceptor <%= typeof llamado.respuesta.id == 'undefined' ? 'esconder' : '' %>">
                        <div class="estado-preceptor-info">
                            <p class="estado-preceptor-nombre"><%= llamado.respuesta.usuario.nombre %> <%= llamado.respuesta.usuario.apellido %></p>
                            <p class="estado-preceptor-rol texto-muted">Preceptor - Turno Manana</p>
                        </div>
                        <div class="estado-preceptor-mensaje">
                            <span><i class="fa-regular fa-message"></i> Mensaje del preceptor</span>
                            <p class="preceptor-mensaje-texto"><%= llamado.respuesta.mensaje %></p>
                        </div>
                    </div>
                    <div class="estado-llamado-progreso">
                        <h3>Progreso</h3>
                        <div class="estado-progreso-item estado-progreso-recibido">
                            <div class="svg">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <div>
                                <p>Solicitud recibida</p>
                                <span class="texto-muted hora_recibido">
                                    <%
                                        const fecha = new Date(llamado.data.fecha)
                                        const hora = fecha.getHours()
                                        const minutos = fecha.getMinutes()
                                    %>
                                    <%= hora %>:<%= minutos %>
                                </span>
                            </div>
                        </div>
                        <div class="estado-progreso-item estado-progreso-<%= typeof llamado.respuesta.id !== 'undefined' ? 'encamino' : 'idle' %>">
                            <div class="svg">
                                <% if(typeof llamado.respuesta.id !== 'undefined') { %>
                                    <i class="fa-solid fa-arrow-right"></i> 
                                <% } else { %>
                                    <i class="fa-solid fa-circle"></i>
                                <% } %>
                            </div>
                            <div>
                                <p>Preceptor en camino</p>
                                <span class="texto-muted hora_respuesta">
                                    <%
                                        const fecha_respuesta = new Date(llamado.respuesta.fecha)
                                        const hora_respuesta = fecha.getHours()
                                        const minutos_respuesta = fecha.getMinutes()
                                    %>
                                    <%= hora_respuesta %>:<%= minutos_respuesta %>
                                </span>
                            </div>
                        </div>
                        <div class="estado-progreso-item estado-progreso-<%= llamado.data.finalizado == 1 ? 'finalizado' : 'idle' %>">
                            <div class="svg">
                                <% if(typeof llamado.respuesta.id !== 'undefined' && llamado.data.finalizado == 1) { %>
                                    <i class="fa-solid fa-face-smile"></i>
                                <% } else { %>
                                    <i class="fa-solid fa-circle"></i>
                                <% } %>
                            </div>
                            <div>
                                <p>Llamado finalizado</p>
                            </div>
                        </div>
                    </div>

                    <button class="boton-cerrar <%= typeof llamado.respuesta.id != 'undefined' && llamado.data.finalizado == 1 ? '' : 'esconder' %>">Cerrar llamado</button>
                    <button class="boton-cancelar <%= typeof llamado.respuesta.id == 'undefined' ? '' : 'esconder' %>">Cancelar llamado</button>
                </div>
            </div>    
            
            <!-- 
            div class="estado-llamado <%= (typeof llamado.data.id === 'undefined' || llamado.data.finalizado == 1) ? 'esconder' : '' %>">  
                    <p class="estado-llamado-titulo">

                        <% if(typeof llamado.respuesta.id === 'undefined' || llamado.data.finalizado == 1) { %>
                            Estado de tu llamado
                        <% } else { %>
                            <%= llamado.respuesta.usuario.nombre %> <%= llamado.respuesta.usuario.apellido %>
                        <% } %>

                    </p>
                    <p class="estado-llamado-texto">

                        <% if(typeof llamado.respuesta.id === 'undefined' || llamado.data.finalizado == 1) { %>
                            Pendiente...
                        <% } else { %>
                            <%= llamado.respuesta.mensaje %>
                        <% } %>

                    </p>

                    <button class="boton-cancelar <%= typeof llamado.respuesta.id == 'undefined' ? '' : 'esconder' %>">Cancelar llamado</button>
                </div>
            -->
        <div class="columna columna-derecha">
            <div class="preceptores">
                <p class="preceptores-titulo">Preceptores disponibles</p>

                <div class="preceptores-contenedor">
                    <% if((typeof turnos !== 'undefined' && turnos !== null) && turnos.length > 0) { %>
                        <% turnos.forEach(turno => { %>
                            <div class="preceptores-item">
                                <img src="img/user.png" alt="">
                                <p><%= turno.nombre_usuario %> <%= turno.apellido_usuario %></p>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p class="no-hay-preceptores">No hay preceptores disponibles.</p>
                    <% } %>
                </div>
                
            </div>
            <div class="perfil">
                <hr>
                <div class="perfil-info">
                    <p class="perfil-siglas"><%- usuario.nombre[0] %><%- usuario.apellido[0] %></p>
                    <div class="perfil-usuario">
                        <p class="perfil-nombre">
                            <%- usuario.nombre %>
                            <%- usuario.apellido %>
                        </p>
                        <p class="perfil-tipo-usuario">
                            <%- usuario.tipo_usuario %>
                        </p>
                    </div>
                </div>
                <a class="perfil-cerrar-sesion" href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Cerrar sesión</a>
            </div>
        </div>
    </div>
</body>
</html>
