<!DOCTYPE html>
<html lang="es" data-id_usuario="<%- usuario.id_usuario %>" data-nombre="<%- usuario.nombre %>" data-apellido="<%- usuario.apellido %>" data-tipo_usuario="<%- usuario.tipo_usuario %>">
<head>
    <%- include('../parciales/head.html') %>
    <link rel="stylesheet" href="panel.css">

    <!-- ICONOS (Font Awesome) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- SOCKET.IO -->
    <script type="module" src="/socket.io/socket.io.js"></script>
    <script type="module">
        import { peticion } from './js/peticion.js'

        const socket = io();

        // Datos del profesor logeado
        const idProfesor = parseInt(document.documentElement.dataset.id_usuario)
        const nombreProfesor = document.documentElement.dataset.nombre
        const apellidoProfesor = document.documentElement.dataset.apellido
        const tipoUsuario = document.documentElement.dataset.tipo_usuario

        // Elementos HTML
        const formulario = document.getElementById('formulario')
        const botonLlamado = document.getElementById('boton-llamado')
        const botonCancelarLlamado = document.querySelector('.boton-cancelar')
        const estadoLlamado = document.querySelector('.estado-llamado')
        const estadoLlamadoTitulo = document.querySelector('.estado-llamado-titulo')
        const estadoLlamadoTexto = document.querySelector('.estado-llamado-texto')

        /* ////////////////////////////////////////////////////////////////// */
        
        socket.on('respuesta-llamado', (data) => {
            const { 
                nombre: nombrePreceptor, 
                apellido: apellidoPreceptor, 
                usuario_id: idProfesorLlamado, 
                respuesta 
            } = data

            // Si el llamado no es del mismo profesor, no se muestra la respuesta
            if (idProfesorLlamado != idProfesor) return
    
            estadoLlamadoTitulo.innerText = nombrePreceptor + " " + apellidoPreceptor
            estadoLlamadoTexto.innerText = respuesta
            botonCancelarLlamado.classList.add('esconder')
        })

        /* ////////////////////////////////////////////////////////////////// */

        socket.on('terminar-llamado', (data) => {
            const { 
                nombre: nombrePreceptor,
                apellido: apellidoPreceptor,
                usuario_id: idProfesorLlamado, 
                respuesta 
            } = data

            // Si el llamado es del mismo profesor, no se muestra la respuesta
            if (idProfesorLlamado != idProfesor) return 

            estadoLlamado.classList.add('esconder')
            botonLlamado.disabled = false
        })

        /* ////////////////////////////////////////////////////////////////// */

        botonCancelarLlamado.addEventListener('click', () => {
            socket.emit('cancelar-llamado', { usuario_id: idProfesor })

            estadoLlamado.classList.add('esconder')
            botonLlamado.disabled = false
        })

        /* ////////////////////////////////////////////////////////////////// */

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault()

            const mensaje = formulario.mensaje.value

            estadoLlamado.classList.remove('esconder')
            botonLlamado.disabled = true

            const resultado = await peticion({ 
                url: '/api/llamados/crear', 
                metodo: 'POST', 
                cuerpo: { 
                    id_preceptor: null,
                    id_emisor: idProfesor,
                    id_curso: 12,
                    numero_nivel: 1,
                    mensaje 
                } 
            })

            if(!resultado.ok) {
                console.log(resultado)
                alert('ERROR GARRAFAL')
            }

            socket.emit('nuevo-llamado', {
                usuario: {
                    id: idProfesor,
                    nombre: nombreProfesor,
                    apellido: apellidoProfesor,
                    tipo_usuario: tipoUsuario
                },
                llamado: {
                    mensaje,
                }
            })
        })
    </script>
</head>
<body>
    <div class="panel-contenedor">
        <div class="navbar">
            <h1>Auka</h1>
            <div>
                <p>Parrafo 1</p>
                <p>Parrafo 2</p>
            </div>
        </div>
            <div class="formulario-llamado">
                <form action="" method="GET" id="formulario">
                    <div class="formulario-cabecera">
                        <h2>Realizar llamado</h2>
                    </div>
                    <label for="">Seleccionar preceptor</label>
                    <select name="preceptor" id="">
                        <option value="0">Enviar a todos</option>
                        <option value="1">Alejandro</option>
                        <option value="2">Noemi</option>
                    </select>
                    <label for="">Mensaje</label>
                    <textarea name="mensaje" placeholder="Necesito un preceptor en L1..." name="mensaje"></textarea>
                    <label for="">Nivel de importancia</label>
                    <select name="nivel" id="">
                        <option value="0">Alta</option>
                        <option value="1">Medio</option>
                        <option value="2">Baja</option>
                    </select>
                    <% if(llamados.length > 0) { %>
                        <button type="submit" id="boton-llamado" disabled>Llamar preceptor</button> 
                    <% } else { %>
                        <button type="submit" id="boton-llamado">Llamar preceptor</button> 
                    <% } %>
                </form>
                <% if(llamados.length > 0) { %>
                    <div class="estado-llamado">
                        <p class="estado-llamado-titulo">Estado de tu llamado</p>
                        <p class="estado-llamado-texto">Pendiente...</p>
                        <button class="boton-cancelar">Cancelar llamado</button>
                    </div>
                <% } %>
            </div>     
        <div class="columna columna-derecha">
            <div class="preceptores">
                <p class="preceptores-titulo">Preceptores activos</p>

                <div class="preceptores-contenedor">
                    <div class="preceptores-item">
                        <img src="img/user.png" alt="">
                        <p>Nombre del preceptor</p>
                    </div>
                </div>
            </div>
            <div class="perfil">
                <hr>
                <div class="perfil-info">
                    <p class="perfil-siglas"><%- usuario.nombre[0] %><%- usuario.apellido[0] %></p>
                    <div class="perfil-usuario">
                        <p class="perfil-nombre">
                            <%- usuario.nombre %>
                            <%- usuario.apellido %>
                        </p>
                        <p class="perfil-tipo-usuario">
                            <%- usuario.tipo_usuario %>
                        </p>
                    </div>
                </div>
                <a class="perfil-cerrar-sesion" href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Cerrar sesión</a>
            </div>
        </div>
    </div>
</body>
</html>