<!DOCTYPE html>
<html lang="es" data-id_usuario="<%- usuario.id_usuario %>" data-nombre="<%- usuario.nombre %>" data-apellido="<%- usuario.apellido %>" data-tipo_usuario="<%- usuario.tipo_usuario %>">
<head>
    <%- include('../parciales/head.html') %>
    <link rel="stylesheet" href="panel.css">
    <link rel="stylesheet" href="alertas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <script type="module" src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/timeago.js@4.0.2/dist/timeago.min.js"></script>
    <script type="module" src="js/panel/soporte.js"></script>
</head>
<body>
    <audio id="notificacion" src="sonidos/noti.wav" preload="auto"></audio>

    <div class="panel-contenedor">
        <div class="columna columna-izquierda">
            <div class="titulo">
                <h1>AukaTech</h1>
            </div>
            <div class="historial">
                <p class="historial-titulo">Historial de solicitudes</p>
                <div class="historial-contenedor">
                    <% if(Array.isArray(solicitud)) { %>
                        <% for(let i = 0; i < solicitud.length && i < 6; i++) { %>
                            <% if(solicitud[i].finalizado == 1) { %>
                                <div class="historial-item">
                                    <div>
                                        <div class="historial-item-cabecera">
                                            <p class="historial-item-titulo">
                                                <%= solicitud[i].nombre %> <%= solicitud[i].apellido %>
                                            </p>
                                            <p class="historial-item-hora">
                                                <%= formatoHora(solicitud[i].fecha_envio) %>
                                            </p>
                                        </div>
                                        <div class="historial-item-mensaje">
                                            <p class="historial-item-texto">
                                                <%= solicitud[i].mensaje %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="historial-item-pie">
                                        <p class="historial-item-estado <%= solicitud[i].cancelado == 1 ? 'historial-estado-cancelado' : 'historial-estado-finalizado' %>">
                                            <span class="historial-item-estado-texto">
                                                <% if(solicitud[i].cancelado == 1) { %>
                                                    Cancelado
                                                <% } else { %>
                                                    Finalizado
                                                <% } %>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="solicitud">
            <% if(Array.isArray(solicitud) && solicitud.filter(s => s.finalizado == 0).length > 0) { %>
                <% solicitud.forEach(solicitud => { %>
                    <% if(solicitud.finalizado == 0) { %>
                        <% const prioridades = ['leve', 'moderado', 'urgente']; %>
                        <% const prioridad = prioridades[solicitud.numero_prioridad - 1]; %>
                        <div class="solicitud <%= prioridad %>" data-solicitud_id="<%= solicitud.id_solicitud %>" data-usuario_id="<%= solicitud.id_emisor %>" data-usuario_nombre="<%= solicitud.nombre %>" data-usuario_apellido="<%= solicitud.apellido %>" data-mensaje="<%= solicitud.mensaje %>">
                            <div class="solicitud-cabecera">
                                <p class="solicitud-titulo"><%= solicitud.nombre %> <%= solicitud.apellido %></p>
                                <p class="solicitud-mensaje"><%= solicitud.mensaje %></p>
                            </div>
                            <hr>
                            <div class="solicitud-cuerpo">
                                <p><span class="solicitud-cuerpo-texto">solicitud - <span class="fecha-envio" datetime="<%= solicitud.fecha_envio %>"><%= formato(solicitud.fecha_envio) %></span></span></p>
                            </div>
                            <% if(solicitud.id_soporte === null || typeof solicitud.id_soporte == 'undefined') { %>
                                <div class="solicitud-respuestas">
                                    <p class="respuesta" data-usuario_id="<%= solicitud.id_emisor %>">Yendo</p>
                                    <p class="respuesta" data-usuario_id="<%= solicitud.id_emisor %>">En camino</p>
                                    <p class="respuesta" data-usuario_id="<%= solicitud.id_emisor %>">Enseguida</p>
                                    <p class="respuesta" data-usuario_id="<%= solicitud.id_emisor %>">Voy para allá</p>
                                    <p class="respuesta-personalizada">Respuesta personalizada</p>
                                </div>
                                <div data-usuario_id="<%= solicitud.id_emisor %>" class="esconder respuesta-personalizada-contenedor">
                                    <input type="text" name="respuesta-personalizada" class="respuesta-personalizada-input" placeholder="Escribe aquí tu respuesta..." maxlength="150">
                                    <div class="botones">
                                        <button type="button" class="boton-respuesta-personalizada">Enviar</button>
                                        <button type="button" class="boton-cancelar-respuesta-personalizada">Cancelar</button>
                                    </div>
                                </div>
                            <% } else { %>
                                <% if(solicitud.id_soporte == usuario.id_usuario) { %>
                                    <div class="solicitud-respuestas">
                                        <p class="respuesta respuesta-terminado">Terminado</p>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                    <% } %>
                <% }) %>
                <div class="no-hay-solicitud esconder">
                    <h1>No hay solicitudes pendientes.</h1>
                </div>
            <% } else { %>
                <div class="no-hay-solicitud">
                    <h1>No hay solicitudes pendientes.</h1>
                </div>
            <% } %>
        </div>

        <div class="columna columna-derecha">
            <div class="soportees">
                <p class="soportees-titulo">soportes disponibles</p>
                <div class="soportees-contenedor">
                    <% if(Array.isArray(turnos) && turnos.length > 0) { %>
                        <% turnos.forEach(turno => { %>
                            <div class="soportees-item">
                                <img src="img/user.png" alt="">
                                <p><%= turno.nombre_usuario %> <%= turno.apellido_usuario %></p>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p class="no-hay-soportees">No hay soportes disponibles.</p>
                    <% } %>
                </div>
            </div>
            <div class="perfil">
                <hr>
                <div class="perfil-info">
                    <p class="perfil-siglas"><%- usuario.nombre[0] %><%- usuario.apellido[0] %></p>
                    <div class="perfil-usuario">
                        <p class="perfil-nombre"><%- usuario.nombre %> <%- usuario.apellido %></p>
                        <p class="perfil-tipo-usuario"><%- usuario.tipo_usuario %></p>
                    </div>
                </div>
                <a class="perfil-cerrar-sesion" href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Cerrar sesión</a>
            </div>
        </div>
    </div>
</body>
</html>